streamlit
pinecone-client
pinecone-text
langchain
langchain_community
langchain_huggingface
langchain_groq
PyPDF2  # For PDF loading
groq
langchain-pinecone 
pinecone-notebooks
python-dotenv
pypdf
nltk
